<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">
<header class="container mw-100 bg-dark text-white sticky-top">
	<div class="row py-3">
		<div class="col-auto">
			<a th:href="@{/}"><img style="height: 40px" th:src="@{/img/takeoff.svg}"></a>
		</div>
		<div class="col"></div>
		<div class="col-auto text-right my-auto mx-2">
			<span class="h5 align-top px-2" sec:authentication="name"></span>
			<a title="Esci" th:href="@{/logout}"><img alt="Uscita" style="height: 24px" th:src="@{/img/logout.svg}"></a>
		</div>
	</div>
</header>

<footer class="container text-center">
	<p class="my-auto p-2">
		<a href="mailto:dummymail@mail.com">Copyright &copy; 2022 - M00/000000</a> - <a th:href="@{/resource/LICENSE.txt}">Bootstrap, Selectr e Pikaday sono rilasciati con lincenza MIT</a>
	</p>
</footer>

<th:block th:fragment="headTags">
	<meta charset="utf-8">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
	<link rel="stylesheet" th:href="@{/resource/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{/resource/selectr.min.css}">
	<script th:src="@{/resource/selectr.min.js}"></script>
	<link rel="stylesheet" th:href="@{/resource/pikaday.css}">
	<script th:src="@{/resource/pikaday.js}"></script>
	<style>
html, body {
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
}

main {
	flex-grow: 1;
}
</style>
</th:block>

</html>