<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="it-IT">
<head>
<th:block th:replace="~{fragments/general :: headTags}"></th:block>
<title>Gestione Voli</title>
</head>
<body>
	<header th:replace="~{fragments/general :: header}"></header>

	<main class="container mw-100">
		<div class="row pt-4">
			<nav class="col-2 px-2">
				<hr>
				<ul class="nav nav-pills flex-column mb-auto">
					<li><a th:href="@{/admin/airlines}" class="nav-link" th:classappend="${#strings.equals(page, '/admin/airlines')} ? 'active'">Compagnie
							Aeree</a></li>
					<li><a th:href="@{/admin/airports}" class="nav-link" th:classappend="${#strings.equals(page, '/admin/airports')} ? 'active'">Aeroporti</a></li>
					<li><a th:href="@{/admin/routes}" class="nav-link" th:classappend="${#strings.equals(page, '/admin/routes')} ? 'active'">Tratte</a></li>
					<li><a th:href="@{/admin/airplanes}" class="nav-link" th:classappend="${#strings.equals(page, '/admin/airplanes')} ? 'active'">Aerei</a></li>
					<li><a th:href="@{/admin/flights}" class="nav-link" th:classappend="${#strings.equals(page, '/admin/flights')} ? 'active'">Voli</a></li>
					<li><a th:href="@{/admin/users}" class="nav-link" th:classappend="${#strings.equals(page, '/admin/users')} ? 'active'">Utenti</a></li>
				</ul>
				<hr>
			</nav>
			<section class="col">
				<th:block th:replace="${#strings.equals(page, '/admin/airlines')} ? ~{admin-airlines :: airlines} : _"></th:block>
				<th:block th:replace="${#strings.equals(page, '/admin/airports')} ? ~{admin-airports :: airports } : _"></th:block>
				<th:block th:replace="${#strings.equals(page, '/admin/routes')} ? ~{admin-routes :: routes } : _"></th:block>
				<th:block th:replace="${#strings.equals(page, '/admin/airplanes')} ? ~{admin-airplanes :: airplanes } : _"></th:block>
				<th:block th:replace="${#strings.equals(page, '/admin/flights')} ? ~{admin-flights :: flights } : _"></th:block>
				<th:block th:replace="${#strings.equals(page, '/admin/users')} ? ~{admin-users :: users} : _"></th:block>
			</section>
		</div>
	</main>

	<footer th:replace="~{fragments/general :: footer}"></footer>
</body>
</html>