<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="passenger">
	<h1 class="mb-4">Gestione dei Passeggeri</h1>
	<form class="border border-secondary rounded mb-3 p-3" th:action="@{/passengers}" method="post" enctype="application/x-www-form-urlencoded">
		<div class="mb-3 row">
			<label for="flightDateTime" class="col-sm-2 col-form-label">Data e Ora di Partenza del Volo</label>
			<div class="col-sm-10">
				<input class="form-control" type="text" name="flightDateTime" id="flightDateTime" placeholder="Data e Ora di Partenza del Volo" th:value="${param.flightDateTime}">
			</div>
		</div>
		<hr>
		<div class="mb-3 row">
			<label for="departureAirport" class="col-sm-2 col-form-label">Aeroporto di Partenza</label>
			<div class="col-sm-10">
				<select name="departureAirport" id="departureAirport">
					<option th:each="airport : ${airports}" th:object="${airport}" th:value="*{id}" th:with="selectedDeparture=${#strings.equals(param.departureAirport, #strings.toString(airport.id))}" th:attrappend="selected=${selectedDeparture} ? 'selected'">[[*{getCity()}]] [[*{nome}]]</option>
				</select>
			</div>
		</div>
		<div class="mb-3 row">
			<label for="arrivalAirport" class="col-sm-2 col-form-label">Aeroporto di Destinazione</label>
			<div class="col-sm-10">
				<select name="arrivalAirport" id="arrivalAirport">
					<option th:each="airport : ${airports}" th:object="${airport}" th:value="*{id}" th:with="selectedArrival=${#strings.equals(param.arrivalAirport, #strings.toString(airport.id))}" th:attrappend="selected=${selectedArrival} ? 'selected'">[[*{getCity()}]] [[*{nome}]]</option>
				</select>
			</div>
		</div>
		<div class="row">
			<div class="col-auto">
				<input type="submit" value="Cerca Volo" class="btn btn-primary mb-3">
			</div>
		</div>
	</form>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Nome</th>
				<th>Cognome</th>
				<th>Codice Fiscale</th>
				<th>Contatto E-Mail</th>
				<th>Documento di Identit&agrave;</th>
				<th></th>
			</tr>
		</thead>
		<tbody id="flightsTable">
			<tr th:unless="${#lists.isEmpty(passengers)}" th:each="passenger : ${passengers}" th:object="${passenger}" th:id="*{id}">
				<td>[[*{nome}]]</td>
				<td>[[*{cognome}]]</td>
				<td>[[*{codiceFiscale}]]</td>
				<td>[[*{eMail}]]</td>
				<td>[[*{getCardId()}]]</td>
				<td><a th:href="@{/passengers/{id}(id=*{id})}"><img th:src="@{/img/hamburger.svg}" style="width: 16px" title="Visualizza Biglietti"></a></td>
			</tr>
			<tr th:if="${#lists.isEmpty(passengers)}">
				<td colspan="6">Non esiste alcun dato.</td>
			</tr>
		</tbody>
	</table>
	<div th:if="${success == false}">
		<p class="text-danger mb-0">[[${error}]]</p>
	</div>
	<script>
	window.addEventListener("DOMContentLoaded", function(e) {
		new Selectr("#departureAirport", { defaultSelected: false, clearable: true, placeholder: "Seleziona l'Aeroporto di Partenza", messages: { noResults: "Nessun Aeroporto con questo nome" } });
		new Selectr("#arrivalAirport", { defaultSelected: false, clearable: true, placeholder: "Seleziona l'Aeroporto di Destinazione", messages: { noResults: "Nessun Aeroporto con questo nome" } });
		new Pikaday({
	        field: document.getElementById("flightDateTime"),
	        firstDay: 1,
	        minDate: new Date(),
	        maxDate: new Date(2099, 12, 31),
	        yearRange: [2022,2099]
	    });
	})
	</script>
</th:block>

</html>