<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="passenger">
	<h1 class="mb-4">Gestione dei Passeggeri</h1>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Nome</th>
				<th>Cognome</th>
				<th>Codice Fiscale</th>
				<th>Contatto E-Mail</th>
				<th>Documento di Identit&agrave;</th>
				<th></th>
			</tr>
		</thead>
		<tbody id="flightsTable">
			<tr th:unless="${#lists.isEmpty(passengers)}" th:each="passenger : ${passengers}" th:object="${passenger}" th:id="*{id}">
				<td>[[*{nome}]]</td>
				<td>[[*{cognome}]]</td>
				<td>[[*{codiceFiscale}]]</td>
				<td>[[*{eMail}]]</td>
				<td>[[*{getCardId()}]]</td>
				<td><a th:href="@{/passengers/{id}(id=*{id})}"><img th:src="@{/img/hamburger.svg}" style="width: 16px" title="Visualizza Biglietti"></a></td>
			</tr>
			<tr th:if="${#lists.isEmpty(passengers)}">
				<td colspan="6">Non esiste alcun dato.</td>
			</tr>
		</tbody>
	</table>
	<div th:if="${success == false}">
		<p class="text-danger mb-0">[[${error}]]</p>
	</div>
	<script>
	window.addEventListener("DOMContentLoaded", function(e) {
		new Selectr("#departureAirport", { defaultSelected: false, clearable: true, placeholder: "Seleziona l'Aeroporto di Partenza", messages: { noResults: "Nessun Aeroporto con questo nome" } });
		new Selectr("#arrivalAirport", { defaultSelected: false, clearable: true, placeholder: "Seleziona l'Aeroporto di Destinazione", messages: { noResults: "Nessun Aeroporto con questo nome" } });
		new Pikaday({
	        field: document.getElementById("flightDateTime"),
	        firstDay: 1,
	        minDate: new Date(),
	        maxDate: new Date(2099, 12, 31),
	        yearRange: [2022,2099]
	    });
	})
	</script>
</th:block>

</html>