<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="it-IT">
<head>
<th:block th:replace="~{fragments/general :: headTags}"></th:block>
<title>Gestione Voli</title>
</head>
<body>
	<header th:replace="~{fragments/general :: header}"></header>

	<main class="container-fluid text-center">

		<table>
			<tr th:each="volo : ${voli}">
				<td th:text="${volo.codice}"></td>
			</tr>
		</table>

	</main>

	<footer th:replace="~{fragments/general :: footer}"></footer>
</body>
</html>