<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="it-IT">
<head>
<th:block th:replace="~{fragments/general :: headTags}"></th:block>
<title>Gestione Voli - Login</title>
</head>
<body>
	<div class="container-fluid text-center">
		<div>
			<img class="img-fluid my-4" th:src="@{/img/takeoff.svg}">
		</div>
		<form name="loginForm" th:action="@{/login}" method="post" style="max-width: 350px; margin: 0 auto;">

			<div th:if="${param.error}">
				<p class="text-danger">[[${session.SPRING_SECURITY_LAST_EXCEPTION.message}]]</p>
			</div>

			<div th:if="${param.logout}">
				<p class="text-warning">Sei stato disconnesso.</p>
			</div>

			<div class="border border-secondary p-3 rounded">
				<p>Accesso a Gestione Voli</p>
				<p>
					<input type="text" name="email" class="form-control" placeholder="Nome Utente" required autofocus />
				</p>
				<p>
					<input type="password" name="password" class="form-control" placeholder="Password" required />
				</p>
				<p>
					<label><input type="checkbox" name="remember-me" />&nbsp;Ricordami</label>
				</p>
				<p>
					<button type="submit" class="btn btn-primary mx-1">Accedi</button>
					<button type="submit" class="btn btn-secondary mx-1" form="guestLoginForm">Accedi come Ospite</button>
				</p>
			</div>
		</form>
		<form id="guestLoginForm" th:action="@{/login}" method="post">
			<input type="hidden" name="email" value="guest"/>
			<input type="hidden" name="password" value=""/>
		</form>
	</div>
</body>
</html>